.contact {
  width: 50%;
  margin: 0 auto;

  &__title {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: $text-color;
  }

  &__btn {
    display: block;
    padding: 0.5rem 1rem;
    margin-left: auto;
    color: #fff;
    background-color: $text-color;
    border: none;
    border-radius: 5px;

    &:hover {
      color: $text-color;
      background-color: #fff;
    }
  }

  &__text {
    margin-bottom: 1rem;
    color: #333;
  }
}
