.navbar {
  padding: 0.8rem 1.5rem;
  background-color: $navbar-dark-bg;
  box-shadow: 0 2px 4px rgba($dark, 0.2);

  .navbar-brand {
    font-family: $font-family-sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
  }

  .navbar-nav {
    .nav-link {
      margin-left: 1rem;
      color: $body-color !important;
      transition: color 0.3s ease;

      &:hover,
      &:focus {
        color: $primary !important;
      }
    }
  }
}
