.home {
  &__title {
    color: $text-color;
    font-size: scaleFont(1rem, 2);
    margin-bottom: 1rem;
  }

  &__description {
    color: lightenColor($text-color, 20%);
    font-size: scaleFont(1rem, 1.1);
    margin-bottom: 1rem;
  }

  &__image {
    max-width: 100%;
    height: auto;
  }
}
