<section class="about" id="sobre">
  <div class="container py-3">
    <h2 class="about__title">Descubre la Comarca de Los Monegros</h2>
    <p class="about__text">
      Los Monegros se encuentran en la zona noreste de España, caracterizada por
      sus paisajes áridos, pueblos con mucho encanto y una gran biodiversidad.
    </p>
    <div class="about__img-container">
      <picture>
        <source
          srcset="./assets/images/mapa.png?as=webp&width=400"
          type="image/webp"
        />
        <img
          src="./assets/images/mapa.png?width=400"
          alt="Mapa de Los Monegros"
          class="about__map img-fluid"
        />
      </picture>
    </div>
  </div>
</section>
