<section class="festival" id="festival">
  <div class="container py-3">
    <h2 class="festival__title">Monegros Desert Festival</h2>

    <p class="festival__text">
      El Monegros Desert Festival es uno de los eventos de música electrónica
      más importantes de Europa. Reúne a artistas de prestigio internacional en
      un entorno incomparable.
    </p>

    <div class="festival__img-container">
      <picture>
        <source
          srcset="./assets/images/parking.jpg?as=webp&width=400"
          type="image/webp"
        />
        <img
          src="./assets/images/parking.jpg?width=400"
          alt="Parking y zona del Festival"
          class="festival__img img-fluid"
        />
      </picture>

      <picture>
        <source
          srcset="./assets/images/main-noche.jpg?as=webp&width=400"
          type="image/webp"
        />
        <img
          src="./assets/images/main-noche.jpg?width=400"
          alt="Sesión nocturna en el festival de Los Monegros"
          class="festival__img img-fluid"
        />
      </picture>
    </div>
  </div>
</section>
