<nav class="navbar-dark bg-dark footer-nav">
  <div
    class="container-fluid d-flex flex-column flex-lg-row align-items-center justify-content-between"
  >
    <div class="footer-brand mb-2 mb-lg-0">
      <a class="navbar-brand" href="index">
        <i class="fa-solid fa-user-shield"></i> Seguridad &copy; UOC - Abraham
        Fontana
      </a>
    </div>

    <ul class="navbar-nav d-flex flex-row mb-2 mb-lg-0">
      <li class="nav-item mx-2">
        <a class="nav-link" href="index">
          Inicio <i class="fa-solid fa-house"></i>
        </a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="participants">
          Participantes <i class="fa-solid fa-user-group"></i>
        </a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="article">
          Artículo <i class="fa-solid fa-file-lines"></i>
        </a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="contact">
          Contacto <i class="fa-solid fa-envelope"></i>
        </a>
      </li>
    </ul>

    <div class="footer-social d-flex flex-row">
      <a href="https://google.com" class="text-light mx-2" aria-label="Google+">
        <i class="fa-brands fa-google-plus-g fa-lg"></i>
      </a>
      <a
        href="https://facebook.com"
        class="text-light mx-2"
        aria-label="Facebook"
      >
        <i class="fa-brands fa-facebook-f fa-lg"></i>
      </a>
      <a
        href="https://twitter.com"
        class="text-light mx-2"
        aria-label="Twitter"
      >
        <i class="fa-brands fa-twitter fa-lg"></i>
      </a>
    </div>
  </div>
</nav>
