<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  aria-label="Barra de navegación principal"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">
      <i class="fa-solid fa-user-shield"></i> Seguridad
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Mostrar/ocultar menú"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html">
            Inicio
            <i class="fa-solid fa-house"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="participants.html">
            Participantes
            <i class="fa-solid fa-user-group"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="article.html">
            Artículo
            <i class="fa-solid fa-file-lines"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">
            Contacto
            <i class="fa-solid fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
