<section class="home" id="home">
  <div class="container text-center my-3">
    <h1 class="home__title">Bienvenidos a Los Monegros</h1>
    <p class="home__description">
      La comarca de Los Monegros: un paraje semidesértico único en Europa.
    </p>

    <picture>
      <source
        srcset="./assets/images/los-monegros.jpg?as=webp&width=800"
        type="image/webp"
      />
      <img
        src="./assets/images/los-monegros.jpg?width=800"
        alt="Paisaje de Los Monegros"
        class="home__image img-fluid my-3"
      />
    </picture>
  </div>
</section>